
*{
  background-color: aquamarine;
  align-items: center;
}
.counter-box{
  font-size: medium;
  text-align: center;
  color: blue;
}
button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-weight: 400;
  background-color: blue;
  border: none;
  color: aliceblue;
  transition: all .5s ease;
}
button:hover {
  background-color: rgb(35, 35, 255);
}